 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

 html {
    height: 100vh;
    width: 100vw;
 }
body {
    font-family: 'Playfair Display', serif;
    color: #302a2a;
    font-weight: 500;
    font-size: 1.3rem;
    min-height: 100vh;
    margin: 0;
    display: flex;
    background-color:#FFFBF1;
}

.title {
    font-size: 5rem;
    color: white;

    background-color: rgba(0,0,0,0.5);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main {
    display: flex;
    flex-direction:row;
    flex: 1;
}

.left {
    display: flex;
    min-width: 40vw;
    flex-shrink: 0;
    background-image: url("./images/img1.jpg");
    background-size: cover;

    display: flex;
    align-items: center;
    justify-self: center;
}

.top {
    padding-left: 2vw;
    padding-bottom: 2vh;
    padding-right: 2vw;
    font-weight: 700;
    font-size: 1.5rem;
    width: 50vw;
}

legend {
    font-weight: 600;
    font-size: 1.5rem;
}

.card {
    background-color: white;
    padding: 1.2rem 2vw 3rem 2vw;
    filter: drop-shadow(0.2rem 0.5rem 0.5rem gray);
    font-size: 1.1rem;
    font-weight: bold;
}

.right {
    padding-top: 10vh;
    min-width:60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

}

.bottom {
    padding: 38px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-right: 3vw;
    padding-top: 16px;
    
}

input {
    width: 12vw;
    height: 3vh;
    border: 0.121vw solid #212422; 
    border-radius: 4px;
}

.input {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    
}

button {
    font-family: 'Playfair Display', serif;
    background-color: #b38746;
    border-style: solid;
    border-color:#503c1f;
    padding: 1vw;
    max-width: 13vw;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff2d1;
    border-radius: 2px;
}

input:focus {
    filter: drop-shadow(0.2rem 0.5rem 0.5rem gray);
    border-radius: 3px;
    outline: none;
    border: 0.121vw solid #212422; 
}

input:focus:invalid {
    transition: 0.1s;
    filter: drop-shadow(0.2rem 0.5rem 0.5rem rgb(134, 100, 100));
    background-color:rgb(255, 172, 172);
    border-radius: 0px;
    outline: none;
    border: 0.121vw solid rgb(97, 5, 5);
    border-radius: 3px;
}

 
button:hover {
    background-color: #503c1f;
    transition: 0.5s;
}

a {
color: #b38746;
text-decoration: none;
font-weight: 700;
}

#passwordCheck,
#fNameCheck,
#lNameCheck,
#phoneCheck,
#emailCheck,
#passMatch,
#passError {
    color:rgb(97, 5, 5); 
    margin: 0; 
    padding: 0;
    display: flex;
    align-items: flex-end;
    font-size: 0.8rem;
    font-weight:600;
}

#titleimg {
    color: white;
    width: 6vw;
    filter:invert(100%)
}

